@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .description-section {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<main>

    <div class="container body-content">
        <!-- Description Section -->
        <div class="description-section">
            <h3>Welcome to BookSwap</h3>
            <p>BookSwap is a platform for book lovers to exchange and share their favorite books with others. Whether you're looking for a new read or want to share your own collection, BookSwap has got you covered.</p>
            <p>Join our community today and start exploring the world of literature!</p>
            <p><a href="@Url.Action("List", "Genre")" class="btn btn-success">Explore Genres</a></p>
        </div>
        <div class="text-center">
            
        </div>
    </div>
</main>