@model IEnumerable<PassionProjectBookSwap.Models.GenreDto>
@{
    ViewBag.Title = "List";
}

<div class="container">
    <h2>List of Genres</h2>
    <div class="row">
        @foreach (var genre in Model)
        {
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@Url.Action("BooksForGenre", "Genre", new { id = genre.GenreID })">@genre.GenreName</a>
                        </h5>
                    </div>
                </div>
            </div>
        }
    </div>
    
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a>
</div>
